
.wrapper {
    padding: 2rem 3rem;
    height: 800px;
  }
  
container {
  height: 800px;
} 
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-items:center;
  display: flex;
}

.label {
  font-size: 1rem;
  font-weight: 500;
}


.navigationBar {
  display: flex;
  align-items: center;
}

.noteID{
  padding-left: 75px;
  padding-right: 75px;
}

.directionalArrow{
  border: none;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.directionalArrow img {
  border: none;
  background-color: transparent;
  object-fit: fill;
  width: 20px;
  cursor: pointer;
}

.directionalArrow:hover {
  background-color:lightblue
}

.calendarButton {
  border: none;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

/*https://iconduck.com/icons/299856/calendar-small*/
.calendarButton img {
  border: none;
  background-color: transparent;
  object-fit: fill;
  width: 25px;
  cursor: pointer;
}

.calendarButton:hover {
  background-color:lightblue;
}

.logo{
  display: flex;
  align-items: center;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.logo img{
  border: none;
  background-color: transparent;
  object-fit: fill;
  width: 25px;
  min-height: 100px;
  cursor: pointer;
}
