.wrapper {
    padding: 2rem 3rem;
  }
  
.label {
  font-size: 1rem;
  font-weight: 500;
}


.navigationBar {
  display: flex;
  align-items: center;
}

.noteID{
  padding-left: 75px;
  padding-right: 75px;
}

.directionalArrow{
  border: none;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.directionalArrow img {
  border: none;
  background-color: transparent;
  object-fit: fill;
  width: 20px;
  cursor: pointer;
}

.directionalArrow:hover {
  background-color:lightblue
}

.calendarButton {
  border: none;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

/*https://iconduck.com/icons/299856/calendar-small*/
.calendarButton img {
  border: none;
  background-color: transparent;
  object-fit: fill;
  width: 25px;
  cursor: pointer;
}

.calendarButton:hover {
  background-color:lightblue;
}